h1 {  
    font-size: 52px;
    font-family: 'Architects Daughter';
    padding-bottom: 4px;
    text-align: center;
    margin: 12%;
  }
  
  h2 {
    font-size: 28px;
    font-family: 'Architects Daughter';
    text-align: center;
    height: 15%;
  }

  h3 {
    font-size: 24px;
    font-family: 'Architects Daughter';
    text-align: center;
    background-color: darkorchid;
  }

  p {
    color: #757575;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  ol {
    padding-right: 33%;
  }

.bg-full-image {
  text-align: center;
}


  .myText>p/*>accesses all element nested in an element,id, or class*/
  {
    margin: 0;
    margin-bottom: 0;
    padding: 14px 12px;
  }
  
  .colored-text{
    font-size: 22px;
  }
  
  
  .align-right {
    text-align: right;
  }
  
  .color-pop {
    color: red;
  }
  
  .text-centered {
    text-align: center;
  }
  
  .dark-background {
    background-color: #1E1E1E;
    color: white;
  }
  
  .light-background {
    background-color: #c8d2e0;
    color: #1E1E1E;
  }
  
  .wrapper {
    width: 600px;
    margin: auto;
  }