h1 {  
    font-size: 52px;
    font-family: 'Architects Daughter';
    padding-bottom: 4px;
    text-align: center;
  }
  
  h2 {
    font-size: 28px;
    font-family: 'Architects Daughter';
    text-align: center;
  }

  h3 {
    font-size: 24px;
    font-family: 'Architects Daughter';
    text-align: center;
  }

  p {
    color: #757575;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .colored-text{
    font-size: 22px;
  }
  
  
  .align-right {
    text-align: right;
  }
  
  .color-pop {
    color: red;
  }
  
  .text-centered {
    text-align: center;
  }
  
  .dark-background {
    background-color: #1E1E1E;
    color: white;
  }
  
  .light-background {
    background-color: #c8d2e0;
    color: #1E1E1E;
  }
  
  .wrapper {
    width: 300px;
    margin: auto;
  }